<template>
    <div class="card mb-0 pt-1 pt-md-0">
        <div class="card-header bg-info">
                <h3 class="my-0">Editar registro</h3>
            </div>
        <div class="tab-content" v-if="loading_form">
            <div class="invoice">
                <form autocomplete="off" @submit.prevent="submit">
                    <div class="form-body">
                        <div class="row mt-1">
                            <div class="col-lg-2 pb-2">
                                <div class="form-group" :class="{'has-danger': errors.type_patient}">
                                    <label class="control-label font-weight-bold text-info">
                                        Tipo paciente
                                    </label>
                                    <el-select v-model="form.type_patient">
                                        <el-option :value="'NUEVO'" :label="'NUEVO'" />
                                        <el-option :value="'ANTIGUO'" :label="'ANTIGUO'" />
                                    </el-select>
                                    <small class="form-control-feedback" v-if="errors.type_patient" v-text="errors.type_patient[0]"></small>
                                </div>
                            </div>
                            <div class="col-lg-6 pb-2">
                                <div class="form-group" :class="{'has-danger': errors.customer_id}">
                                     <label class="control-label font-weight-bold text-info">
                                        Cliente
                                        <a href="#" @click.prevent="showDialogNewPerson = true">[+ Nuevo]</a>
                                    </label>
                                    <el-select v-model="form.customer_id" filterable remote class="border-left rounded-left border-info" popper-class="el-select-customers"
                                        dusk="customer_id"
                                        placeholder="Escriba el nombre o número de documento del cliente"
                                        :remote-method="searchRemoteCustomers"
                                        :loading="loading_search"
                                        >

                                        <el-option v-for="option in customers" :key="option.id" :value="option.id" :label="option.description"></el-option>

                                    </el-select>
                                    <small class="form-control-feedback" v-if="errors.customer_id" v-text="errors.customer_id[0]"></small>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group" :class="{'has-danger': errors.appointment_date}">
                                    <label class="control-label font-weight-bold text-info">Fecha cita</label>
                                    <el-date-picker v-model="form.appointment_date" type="date" value-format="yyyy-MM-dd" :clearable="false"></el-date-picker>
                                    <small class="form-control-feedback" v-if="errors.appointment_date" v-text="errors.appointment_date[0]"></small>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group" :class="{'has-danger': errors.appointment_time}">
                                    <label class="control-label font-weight-bold text-info">Hora cita</label>
                                    <el-time-select v-model="form.appointment_time"
                                        :picker-options="{
                                            start: '06:00',
                                            step: '00:10',
                                            end: '22:00'
                                        }"
                                    />
                                    <small class="form-control-feedback" v-if="errors.appointment_time" v-text="errors.appointment_time[0]"></small>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-lg-2 pb-2">
                                <div class="form-group" :class="{'has-danger': errors.appointment_request}">
                                    <label class="control-label font-weight-bold text-info">
                                        Solicitud de Cita
                                    </label>
                                    <el-select v-model="form.appointment_request">
                                        <el-option :value="'CANCELADA'" :label="'CANCELADA'" />
                                        <el-option :value="'REPROGRAMADA'" :label="'REPROGRAMADA'" />
                                        <el-option :value="'REQUERIDA'" :label="'REQUERIDA'" />
                                    </el-select>
                                    <small class="form-control-feedback" v-if="errors.appointment_request" v-text="errors.appointment_request[0]"></small>
                                </div>
                            </div>
                            <template v-if="isRequired">
                                <div class="col-lg-4 pb-2">
                                    <div class="form-group" :class="{'has-danger': errors.service_id}">
                                        <label class="control-label font-weight-bold text-info">
                                            Servicio adquirido
                                        </label>
                                        <el-select v-model="form.service_id">
                                            <el-option v-for="option in services" :key="option.id + 'S'" :value="option.id" :label="option.name" />
                                        </el-select>
                                        <small class="form-control-feedback" v-if="errors.service_id" v-text="errors.service_id[0]"></small>
                                    </div>
                                </div>
                                <div class="col-lg-4 pb-2">
                                    <div class="form-group" :class="{'has-danger': errors.therapist_id}">
                                        <label class="control-label font-weight-bold text-info">
                                            Licenciado
                                        </label>
                                        <el-select v-model="form.therapist_id">
                                            <el-option v-for="option in therapists" :key="option.id + 'S'" :value="option.id" :label="`${option.name} ${option.last_name}`" />
                                        </el-select>
                                        <small class="form-control-feedback" v-if="errors.therapist_id" v-text="errors.therapist_id[0]"></small>
                                    </div>
                                </div>
                                <div class="col-lg-2 pb-2">
                                    <div class="form-group" :class="{'has-danger': errors.hours}">
                                        <label class="control-label font-weight-bold text-info">
                                            Horas de atención
                                        </label>
                                        <el-select v-model="form.hours" placeholder="">
                                            <el-option v-for="option in 10" :key="option + 'H'" :value="option" :label="option" />
                                        </el-select>
                                        <small class="form-control-feedback" v-if="errors.hours" v-text="errors.hours[0]"></small>
                                    </div>
                                </div>
                            </template>

                        </div>
                        <div v-if="isRequired" class="row mt-1">
                            <div class="col-lg-2 pb-2">
                                <div class="form-group" :class="{'has-danger': errors.session_current}">
                                    <label class="control-label font-weight-bold text-info">
                                        Sesion Actual
                                    </label>
                                    <el-select v-model="form.session_current" placeholder="">
                                        <el-option v-for="option in 10" :key="option + 'H'" :value="option" :label="option" />
                                    </el-select>
                                    <small class="form-control-feedback" v-if="errors.session_current" v-text="errors.session_current[0]"></small>
                                </div>
                            </div>
                            <div class="col-lg-2 pb-2">
                                <div class="form-group" :class="{'has-danger': errors.session_numbe_total}">
                                    <label class="control-label font-weight-bold text-info">
                                    #Total Sesion.
                                    </label>
                                    <el-select v-model="form.session_numbe_total" placeholder="">
                                        <el-option v-for="option in 10" :key="option + 'H'" :value="option" :label="option" />
                                    </el-select>
                                    <small class="form-control-feedback" v-if="errors.session_numbe_total" v-text="errors.session_numbe_total[0]"></small>
                                </div>
                            </div>
                        </div>
                        <div v-if="isRequired" class="row mt-1">
                            <div class="col-lg-4 pb-2">
                                    <el-collapse v-model="activeNames">
                                        <el-collapse-item name="1">
                                            <template slot="title">
                                                <i class="fa fa-plus text-info"></i> &nbsp; Promoción<i class="header-icon el-icon-information"></i>
                                            </template>
                                            <div class="form-group" :class="{'has-danger': errors.promotion_id}">
                                                <el-select v-model="form.promotion_id" placeholder="">
                                                    <el-option v-for="option in promotions" :key="option + 'P'" :value="option.id" :label="option.name" />
                                                </el-select>
                                                <small class="form-control-feedback" v-if="errors.promotion_id" v-text="errors.promotion_id[0]"></small>
                                            </div>
                                        </el-collapse-item>
                                    </el-collapse>

                                </div>
                        </div>
                        <div v-if="isRequired" class="row mt-1">
                            <div class="col-lg-3 pb-2">
                                    <div class="form-group" :class="{'has-danger': errors.payment_type}">
                                        <label class="control-label font-weight-bold text-info">
                                        Tipo de pago
                                        </label>
                                        <el-select v-model="form.payment_type">
                                            <el-option :value="'NORMAL'" :label="'NORMAL'" />
                                            <el-option :value="'SESION_PAGADA'" :label="'SESION PAGADA'" />
                                        </el-select>
                                        <small class="form-control-feedback" v-if="errors.payment_type" v-text="errors.payment_type[0]"></small>
                                    </div>
                                </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-lg-4">
                                    <div class="form-group" :class="{'has-danger': errors.observations}">
                                        <label class="control-label font-weight-bold text-info">
                                        Observaciones
                                        </label>
                                        <textarea class="form-control" v-model="form.observations" name="textarea" rows="6" cols="40">Write something here</textarea>
                                        <small class="form-control-feedback" v-if="errors.observations" v-text="errors.observations[0]"></small>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="form-actions text-right mt-4">
                        <el-button class="submit" type="primary" native-type="submit" :loading="loading_submit">Actualizar</el-button>
                    </div>
                </form>
            </div>
        </div>

        <person-form :showDialog.sync="showDialogNewPerson"
                       type="customers"
                       :external="true"
                       :document_type_id ='"03"'></person-form>
    </div>
</template>

<script>
    import PersonForm from '@views/persons/form.vue'
    export default {
        components: {PersonForm},
        props:['recordId'],
        data() {
            return {
                resource: 'consulting',
                loading_submit: false,
                loading_form: false,
                errors: {},
                form: {},
                all_customers: [],
                customers: [],
                customer_addresses:  [],
                loading_search:false,
                services: [],
                promotions: [],
                therapists: [],
                showDialogNewPerson: false,
                activeNames: []
            }
        },
        computed: {
            isRequired(){
                return this.form.appointment_request === 'REQUERIDA'
            }
        },
        async created() {
            await this.initForm()
            await this.initRecord()
            await this.$http.get(`/${this.resource}/tables?customerId=${this.form.customer_id}`)
                .then(response => {
                    this.all_customers = response.data.customers
                    this.services = response.data.services
                    this.promotions = response.data.promotions
                    this.therapists = response.data.therapists
                    this.allCustomers()
                })
            this.$eventHub.$on('reloadDataPersons', (customer_id) => {
                this.reloadDataCustomers(customer_id)
            })
            this.loading_form = true


        },
        methods: {
            clickCancel(index) {
                this.form.payments.splice(index, 1);
            },
            searchRemoteCustomers(input) {
                if (input.length > 0) {
                    this.loading_search = true
                    let parameters = `input=${input}`

                    this.$http.get(`/${this.resource}/search/customers?${parameters}`)
                            .then(response => {
                                this.customers = response.data.customers
                                this.loading_search = false
                                if(this.customers.length == 0){this.allCustomers()}
                            })
                } else {
                    this.allCustomers()
                }

            },
            initForm() {
                this.errors = {}
                this.form = {
                    id: null,
                    type_patient: null,
                    customer_id: null,
                    appointment_date: null,
                    appointment_time: null,
                    appointment_request: null,
                    service_id: null,
                    service: null,
                    hours: null,
                    session_current: null,
                    session_numbe_total: null,
                    promotion_id: null,
                    promotion: null,
                    payment_type: null,
                    observations: null
                }
            },
            async initRecord(){
                await this.$http.get(`/${this.resource}/record/${this.recordId}`)
                        .then(response => {
                            this.form = response.data.data
                        })
            },
            resetForm() {
                this.initForm()
                this.allCustomers()
                this.customer_addresses = [];
            },
            allCustomers() {
                this.customers = this.all_customers
            },
            async submit() {

                this.loading_submit = true
                await this.$http.post(`/${this.resource}`, this.form).then(response => {
                    if (response.data.success) {
                        this.$message.success(response.data.message);
                    }
                    else {
                        this.$message.error('Ocurrió un error inesperado.');
                    }
                }).catch(error => {
                    if (error.response.status === 422) {
                        this.errors = error.response.data;
                    }
                    else {
                        this.$message.error(error.response.data.message);
                    }
                }).then(() => {
                    this.loading_submit = false;
                });
            },
        }
    }
</script>
