<template>
    <div>
        <div class="page-header pr-0">
            <div class="right-wrapper pull-right">
                <button type="button" class="btn btn-custom btn-sm  mt-2 mr-2" @click.prevent="clickCreate()"><i class="fa fa-plus-circle"></i> Nuevo</button>
            </div>
        </div>
        <div class="card">
            <div class="card-header bg-info">
                <h3 class="my-0">Listado de Control</h3>
            </div>
            <div class="data-table-visible-columns">

                <el-dropdown :hide-on-click="false">
                    <el-button type="primary">
                        Mostrar/Ocultar columnas<i class="el-icon-arrow-down el-icon--right"></i>
                    </el-button>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item v-for="(column, index) in column" :key="index">
                            <el-checkbox v-model="column.visible">{{ column.title }}</el-checkbox>
                        </el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-8 col-md-8 mb-2">
                        <div class="form-group">
                            <label class="control-label font-custom"><strong>Filtros de busqueda</strong></label>
                            <template v-if="!see_more">
                                <a class="control-label font-weight-bold text-info font-custom" href="#" @click="see_more = !see_more"><strong> [+ Ver más]</strong></a>
                            </template>
                            <template v-else>
                                <a class="control-label font-weight-bold text-info font-custom" href="#" @click="see_more = !see_more"><strong> [- Ver menos]</strong></a>
                            </template>
                        </div>
                    </div>
                </div>
                <div class="row mt-2" v-show="see_more">
                    <div class="col-lg-2 col-md-2">
                        <div class="form-group">
                            <label class="control-label">Solicitud de Cita</label>
                            <el-select :clearable="true" v-model="search.appointment_request">
                                        <el-option :value="'CANCELADA'" :label="'CANCELADA'" />
                                        <el-option :value="'REPROGRAMADA'" :label="'REPROGRAMADA'" />
                                        <el-option :value="'REQUERIDA'" :label="'REQUERIDA'" />
                            </el-select>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 pb-2">
                        <div class="form-group">
                            <label class="control-label">Fecha Cita </label>
                            <el-date-picker
                                v-model="search.appointment_date"
                                type="date"
                                style="width: 100%;"
                                placeholder="Buscar"
                                value-format="yyyy-MM-dd"
                                >
                            </el-date-picker>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 ">
                        <div class="form-group">
                            <label class="control-label">Clientes</label>

                            <el-select v-model="search.customer_id" filterable remote  popper-class="el-select-customers"  clearable
                                placeholder="Nombre o número de documento"
                                :remote-method="searchRemoteCustomers"
                                :loading="loading_search">
                                <el-option v-for="option in customers" :key="option.id" :value="option.id" :label="option.description"></el-option>
                            </el-select>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <div class="form-group"  >
                            <label class="control-label">Servicio adquirido</label>
                            <el-select :clearable="true" v-model="search.service_id">
                                <el-option v-for="option in services" :key="option.id + 'S'" :value="option.id" :label="option.name" />
                            </el-select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="form-group"  >
                            <label class="control-label">Licenciado</label>
                            <el-select :clearable="true" v-model="search.therapist_id">
                                <el-option v-for="option in therapists" :key="option.id + 'S'" :value="option.id" :label="`${option.name} ${option.last_name}`" />
                            </el-select>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <div class="form-group">
                            <label class="control-label">Tipo pago</label>
                            <el-select :clearable="true" v-model="search.payment_type">
                                <el-option :value="'NORMAL'" :label="'NORMAL'" />
                                <el-option :value="'SESION_PAGADA'" :label="'SESION PAGADA'" />
                                <el-option :value="'FREE'" :label="'FREE'" />

                            </el-select>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <div class="form-group">
                            <label class="control-label">Comprobante</label>
                            <el-select :clearable="true" v-model="search.reference_document">
                                <el-option :value="'all'" :label="'Todos'" />
                                <el-option :value="'not_document'" :label="'Sin comprobantes'" />
                                <el-option :value="'yes_document'" :label="'Con comprobantes'" />
                            </el-select>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-md-4 col-sm-12" style="margin-top:29px">
                        <el-button class="submit" type="primary" @click.prevent="getRecords" :loading="loading_submit" icon="el-icon-search" >Buscar</el-button>
                        <el-button class="submit" type="info" @click.prevent="cleanInputs" icon="el-icon-delete" >Limpiar </el-button>
                    </div>
                </div>
                <div class="row mt-1 mb-3">
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th v-if="column.solicitud.visible">Solicitud</th>
                            <th>Cliente</th>
                            <th>Fecha Cita</th>
                            <th v-if="column.horacita.visible" >Hora Cita</th>
                            <th v-if="column.tipopaciente.visible">Tipo Paciente</th>
                            <th v-if="column.tipopago.visible">Tipo Pago</th>
                            <th>Comprobante</th>
                            <th v-if="column.service.visible">Servicio adquirido</th>
                            <th v-if="column.licenciado.visible">Licenciado</th>
                            <th v-if="column.horas.visible">Horas atencion</th>
                            <th v-if="column.sesion_actual.visible">Sesion actual</th>
                            <th v-if="column.total_sesion.visible">Total sesion</th>
                            <th v-if="column.promocion.visible">Promocion</th>
                            <th v-if="column.observ.visible">Observaciones</th>
                            <th v-if="column.email.visible">Email enviado</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(row, index) in records" :key="index + 'C'">
                            <td>{{ index + 1 }}</td>
                            <td v-if="column.solicitud.visible">{{ row.appointment_request }}</td>
                            <td>{{ row.customer }}</td>
                            <td>{{ row.appointment_date }}</td>
                            <td v-if="column.horacita.visible">{{ row.appointment_time }}</td>
                            <td v-if="column.tipopaciente.visible">{{ row.type_patient }}</td>
                            <td v-if="column.tipopago.visible">{{ row.payment_type }}</td>
                            <td>{{ row.document }}</td>
                            <td v-if="column.service.visible"> {{row.service}}</td>
                            <td v-if="column.licenciado.visible">{{ row.therapist }}</td>
                            <td v-if="column.horas.visible">{{ row.hours}}</td>
                            <td v-if="column.sesion_actual.visible"> {{row.session_current}}</td>
                            <td v-if="column.total_sesion.visible">{{row.session_numbe_total}}</td>
                            <td v-if="column.promocion.visible">{{ row.promotion }}</td>
                            <td v-if="column.observ.visible">{{ row.observations }}</td>
                            <td v-if="column.email.visible">{{ row.email }}</td>
                            <td class="text-right">
                                <button type="button" class="btn waves-effect waves-light btn-xs btn-info" @click.prevent="clickCreate(row.id)">Editar</button>
                                <button type="button" v-if="row.payment_type == 'NORMAL' && !row.document_id" class="btn waves-effect waves-light btn-xs btn-info" @click.prevent="clickCreateDocument(row.id, row.customer_id)">Comprobante</button>
                                <button type="button" class="btn waves-effect waves-light btn-xs btn-danger"  @click.prevent="clickDelete(row.id)">Eliminar</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                <el-pagination
                        @current-change="getRecords"
                        layout="total, prev, pager, next"
                        :total="pagination.total"
                        :current-page.sync="pagination.current_page"
                        :page-size="parseInt(pagination.per_page)">
                </el-pagination>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {deletable} from '../../mixins/deletable'
    import queryString from 'query-string'

    export default {
        mixins: [deletable],
        data() {
            return {
                showDialog: false,
                resource: 'consulting',
                recordId: null,
                records: [],
                pagination: {},
                see_more:false,
                search: {},
                loading_submit: false,
                loading_search:false,
                all_customers: [],
                customers: [],
                services: [],
                promotions: [],
                therapists: [],
                column:{
                    service: {
                        title: 'Servicio adquirido',
                        visible: false
                    },
                    licenciado: {
                        title: 'Licenciado',
                        visible: false
                    },
                    horas: {
                        title: 'Horas atencion',
                        visible: false
                    },
                    sesion_actual: {
                        title: 'Sesion actual',
                        visible: true
                    },
                    total_sesion: {
                        title: 'Total Sesion',
                        visible: true
                    },
                    promocion: {
                        title: 'Promocion',
                        visible: true
                    },
                    observ: {
                        title: 'Observaciones',
                        visible: true
                    },
                    email: {
                        title: 'Email enviado',
                        visible: true
                    },
                    solicitud: {
                        title: 'Solicitud',
                        visible: false
                    },
                    horacita: {
                        title: 'Hora Cita',
                        visible: false
                    },
                    tipopaciente: {
                        title: 'Tipo Paciente',
                        visible: false
                    },
                    tipopago: {
                        title: 'Tipo Pago',
                        visible: false
                    },
                }
            }
        },
        async created() {
            await this.initForm()
            await this.getRecords()
            await this.$http.get(`/${this.resource}/tables`)
                .then(response => {
                    this.all_customers = response.data.customers
                    this.services = response.data.services
                    this.promotions = response.data.promotions
                    this.therapists = response.data.therapists
                    this.allCustomers()
                })
        },
        methods: {
            initForm(){
                this.search = {
                    appointment_request: null,
                    appointment_date:null,
                    customer_id:null,
                    service_id:null,
                    therapist_id:null,
                    payment_type: null,
                    reference_document: 'all'
                }
            },
            cleanInputs(){
                this.initForm()
            },
            getQueryParameters() {
                return queryString.stringify({
                    page: this.pagination.current_page,
                    limit: this.limit,
                    ...this.search
                })
            },
            getRecords() {
                this.$http.get(`/${this.resource}/records?${this.getQueryParameters()}`)
                    .then(response => {
                        this.records = response.data.data
                        this.pagination = response.data.meta
                    })
            },
            clickCreate(recordId = null) {
                if(recordId){
                    location.href = `/consulting/edit/${recordId}`
                }
                else {
                    location.href = '/consulting/create'
                }
            },
            clickDelete(id) {
                this.destroy(`/${this.resource}/${id}`).then(() =>
                    this.getRecords()
                )
            },
            clickCreateDocument(id, customer_id){
                window.open(`/documents/create/${id}/${customer_id}`);
            },
            searchRemoteCustomers(input) {
                if (input.length > 0) {
                    this.loading_search = true
                    let parameters = `input=${input}`

                    this.$http.get(`/${this.resource}/search/customers?${parameters}`)
                            .then(response => {
                                this.customers = response.data.customers
                                this.loading_search = false
                                if(this.customers.length == 0){this.allCustomers()}
                            })
                } else {
                    this.allCustomers()
                }
            },
            allCustomers() {
                this.customers = this.all_customers
            },
        }
    }
</script>
