<template>
    <div class="card mb-0 pt-md-0">
        <div class="tab-content" v-loading="loader">
            <h5>Edición de paciente</h5>
            <hr>
            <el-steps class="mb-4" :active="tabActive" finish-status="success">
                <el-step title=""></el-step>
                <el-step title=""></el-step>
            </el-steps>
            <form autocomplete="off" v-if="tabActive == 0" @submit.prevent="submit" action="">
                <div class="form-body">
                    <h4 class="text-center">Datos personales</h4>
                    <div class="row">
                        <div class="col-md-6 col-12 mt-2">
                            <div class="form-group" :class="{'has-danger': errors.name}">
                                <el-input placeholder="Nombres" v-model="form.name" ></el-input>
                                <small class="form-control-feedback" v-if="errors.name" v-text="errors.name[0]"></small>
                            </div>
                        </div>
                        <div class="col-md-6 col-12 mt-2">
                            <div class="form-group" :class="{'has-danger': errors.last_name}">
                                <el-input placeholder="Apellidos" v-model="form.last_name" ></el-input>
                                <small class="form-control-feedback" v-if="errors.last_name" v-text="errors.last_name[0]"></small>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                            <div class="col-6">
                                <div class="form-group" :class="{'has-danger': errors.birthdate}">
                                    <el-date-picker placeholder="Fecha Nacimiento" v-model="form.birthdate" type="date" value-format="yyyy-MM-dd" :clearable="false"></el-date-picker>
                                    <small class="form-control-feedback" v-if="errors.birthdate" v-text="errors.birthdate[0]"></small>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group" :class="{'has-danger': errors.email}">
                                    <el-input placeholder="Email" v-model="form.email" ></el-input>
                                    <small class="form-control-feedback" v-if="errors.email" v-text="errors.email[0]"></small>
                                </div>
                            </div>
                    </div>
                    <div class="row mt-2">
                            <div class="col-6">
                                <div class="form-group" :class="{'has-danger': errors.identity_document_type_id}">
                                    <el-select :disabled="true" placeholder="Doc. Identidad" v-model="form.identity_document_type_id" style="width:100%;">
                                        <el-option v-for="(item, index) in identity_document_types" :key="index + 'IDT'" :label="item.description" :value="item.id" />
                                    </el-select>
                                    <small class="form-control-feedback" v-if="errors.identity_document_type_id" v-text="errors.identity_document_type_id[0]"></small>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group" :class="{'has-danger': errors.number}">
                                    <el-input :disabled="true" :maxlength="numberMaxLength" placeholder="ej. 12345" v-model="form.number" class="input-with-select">
                                        <el-button slot="append" icon="el-icon-search" :loading="loading_search" @click.prevent="searchPerson"></el-button>
                                    </el-input>
                                    <small class="form-control-feedback" v-if="errors.number" v-text="errors.number[0]"></small>
                                </div>
                            </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 col-md-6">
                            <el-radio-group v-model="form.gender">
                                <el-radio label="M">Hombre</el-radio>
                                <el-radio label="F">Mujer</el-radio>
                            </el-radio-group>
                        </div>
                    </div>
                    <div class="row mt-2">
                            <div class="col-6">
                                <div class="form-group" :class="{'has-danger': errors.telephone}">
                                    <el-input placeholder="Telefono" v-model="form.telephone" ></el-input>
                                    <small class="form-control-feedback" v-if="errors.telephone" v-text="errors.telephone[0]"></small>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group" :class="{'has-danger': errors.occupation}">
                                    <el-input placeholder="Ocupación" v-model="form.occupation" ></el-input>
                                    <small class="form-control-feedback" v-if="errors.occupation" v-text="errors.occupation[0]"></small>
                                </div>
                            </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 col-md-6">
                            <span>¿Viene acompañado o con un tutor?</span>&nbsp;
                            <el-radio-group style="padding-top: 2%" v-model="form.accompanied">
                                <el-radio label="Si">Si</el-radio>
                                <el-radio label="No">No</el-radio>
                            </el-radio-group>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <div class="form-group" :class="{'has-danger': errors.observations}">
                                <el-input type="textarea" :rows="3" placeholder="Observaciones" v-model="form.observations" ></el-input>
                                <small class="form-control-feedback" v-if="errors.observations" v-text="errors.observations[0]"></small>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4 col">
                            <el-button type="primary" @click.prevent="cancelEdit">Cancelar</el-button>
                        </div>
                        <div class="col-4 offset-4 text-right">
                            <el-button type="primary" @click.prevent="saveDataPersonal">Siguiente</el-button>
                        </div>
                    </div>
                </div>
            </form>
            <form autocomplete="off" v-if="tabActive == 1" @submit.prevent="submit" action="">
                <div class="form-body">
                    <h4 class="text-center">Residencia y contacto</h4>
                    <div class="row mt-2">
                        <div class="col-md-12 col-12 mt-2">
                            <div class="form-group">
                                <label class="control-label">Vivo en Lima</label>
                                <el-checkbox v-model="form.live_lima" @change="liveLima"></el-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6 col-12 mt-2">
                            <div class="form-group">
                                <el-input :disabled="true" :value="'Peru'" ></el-input>
                            </div>
                        </div>
                        <div class="col-md-6 col-12 mt-2">
                            <div class="form-group" :class="{'has-danger': errors.department_id}">
                                <el-select  placeholder="Departamento" v-model="form.department_id" filterable @change="filterLocation('provinces')">
                                    <el-option v-for="option in departments" :key="option.id" :value="option.id" :label="option.description"></el-option>
                                </el-select>
                                <small class="form-control-feedback" v-if="errors.department_id" v-text="errors.department_id[0]"></small>
                            </div>
                        </div>
                        <div class="col-md-6 col-12 mt-2">
                            <div class="form-group" :class="{'has-danger': errors.province_id}">
                                <el-select placeholder="Provincia" v-model="form.province_id" filterable @change="filterLocation('districts')">
                                    <el-option v-for="option in provinces" :key="option.id" :value="option.id" :label="option.description"></el-option>
                                </el-select>
                                <small class="form-control-feedback" v-if="errors.province_id" v-text="errors.province_id[0]"></small>
                            </div>
                        </div>
                        <div class="col-md-6 col-12 mt-2">
                            <div class="form-group" :class="{'has-danger': errors.district_id}">
                                <el-select placeholder="Distrito" v-model="form.district_id" filterable>
                                    <el-option v-for="option in districts" :key="option.id" :value="option.id" :label="option.description"></el-option>
                                </el-select>
                                <small class="form-control-feedback" v-if="errors.district_id" v-text="errors.district_id[0]"></small>
                            </div>
                        </div>
                    </div>
                    <h5 class="text-center">Salud</h5>
                    <div class="row mt-2">
                        <div class="col-md-6 col-12 mt-2">
                            <div class="form-group" :class="{'has-danger': errors.type_insurance_id}">
                                <el-select placeholder="Tipo de seguro médico (opcional)" v-model="form.type_insurance_id" filterable>
                                    <el-option v-for="option in insurance_types" :key="option.id + 'TI'" :value="option.id" :label="option.name"></el-option>
                                </el-select>
                                <small class="form-control-feedback" v-if="errors.type_insurance_id" v-text="errors.type_insurance_id[0]"></small>
                            </div>
                        </div>
                        <div class="col-md-6 col-12 mt-2">
                            <div class="form-group" :class="{'has-danger': errors.type_find_ttl}">
                                <el-select placeholder="¿Cómo se entero?" v-model="form.type_find_ttl" filterable>
                                    <el-option-group
                                    v-for="group in optionsFindTtl"
                                    :key="group.label"
                                    :label="group.label">
                                    <el-option
                                        v-for="item in group.options"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                    </el-option>
                                    </el-option-group>
                                </el-select>
                                <small class="form-control-feedback" v-if="errors.type_find_ttl" v-text="errors.type_find_ttl[0]"></small>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4">
                            <el-button type="primary" @click.prevent="next(0)">Atrás</el-button>
                        </div>
                        <div class="col-8 text-right">
                            <el-button type="primary" @click.prevent="cancelEdit">Cancelar</el-button>
                            <el-button type="primary" @click.prevent="saveDataContact()">Guardar</el-button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<style scoped>
    .text-center {
        font-weight: 700;
    }
</style>

<script>
import queryString from "query-string";

export default {
    props:['recordId'],
    components: {},
    data() {
        return{
            tabActive: 0,
            errors: {},
            form: {},
            departments: [],
            provinces:[],
            districts: [],
            insurance_types: [],
            identity_document_types: [],
            optionsFindTtl: [],
            resource: 'hc/persons',
            loading_search: false,
            loader: false,
        }
    },
    async created() {
            this.initOptionsFindTtl()
            this.initForm()
            await this.$http.get(`/${this.resource}/tables`)
                .then(response => {
                    this.departments = response.data.departments;
                    this.identity_document_types = response.data.identity_document_types;
                    this.insurance_types = response.data.insurance_types;
                })
            await this.getRecord()

    },
    computed: {
        numberMaxLength() {
            if(this.form.identity_document_type_id === '1') return 8
            if(this.form.identity_document_type_id === '6') return 11
        }
    },
    methods:{
        async getRecord() {
            this.loader = true
            await this.$http.get(`/${this.resource}/record/${this.recordId}`)
                .then(response => {
                    const record = response.data.data
                    this.form = record
                })
            await this.filterLocation('provinces', true);
            await this.filterLocation('districts', true);
            this.loader = false
        },
        next(to) {
            this.tabActive = to
        },
        initOptionsFindTtl() {
            this.optionsFindTtl =
                [
                    {
                        label: '¿Quien?',
                        options: [
                            {
                                value: 'Familiar',
                                label: 'Familiar'
                            },
                            {
                                value: 'Medico',
                                label: 'Medico'
                            },
                            {
                                value: 'Fisioterapeuta',
                                label: 'Fisioterapeuta'
                            }
                        ]
                    },
                    {
                        label: 'Redes Sociales',
                        options: [
                            {
                                value: 'Instagram',
                                label: 'Instagram'
                            },
                            {
                                value: 'Facebook',
                                label: 'Facebook'
                            }
                        ]
                    },
                    {
                        label: 'Otros',
                        options: [
                            {
                                value: 'Web',
                                label: 'Web'
                            },
                            {
                                value: 'Otros',
                                label: 'Otros'
                            }
                        ]
                    },
                ]
        },
        initForm(){
            this.errors = {}
            this.form = {
                id: null,
                name: null,
                last_name: null,
                identity_document_type_id: '1',
                number: null,
                country_id: 'PE',
                department_id: null,
                province_id: null,
                district_id: null,
                email: null,
                telephone: null,
                gender: 'M',
                birthdate:null,
                type_find_ttl: null,
                accompanied: 'No',
                medical_treating: null,
                occupation: null,
                observations: null,
                type_insurance_id: null,
                live_lima: false,
            }

        },
        saveDataPersonal(){
            this.errors = {}

            if(!this.form.name) {
                this.$set(this.errors, 'name', ["El campo Nombre es obligatorio."]);
            }

            if(!this.form.last_name) {
                this.$set(this.errors, 'last_name', ["El campo Apellidos es obligatorio."]);
            }

            if(!this.form.birthdate) {
                this.$set(this.errors, 'birthdate', ["El campo Fecha Nac. es obligatorio."]);
            }

            if(!this.form.email) {
                this.$set(this.errors, 'email', ["El campo Email es obligatorio."]);
            }

            if(!this.form.identity_document_type_id) {
                this.$set(this.errors, 'identity_document_type_id', ["El campo Doc. Identidad es obligatorio."]);
            }

            if(!this.form.number) {
                this.$set(this.errors, 'number', ["El campo Num.Doc.Identidad es obligatorio."]);
            }

            if(!this.form.telephone) {
                this.$set(this.errors, 'telephone', ["El campo Telefono es obligatorio."]);
            }

            if(!this.form.occupation) {
                this.$set(this.errors, 'occupation', ["El campo Ocupación es obligatorio."]);
            }

            if(Object.keys(this.errors).length == 0) {
                this.tabActive = 1;
            }

        },
        saveDataContact() {
            this.errors = {}

            if(!this.form.live_lima) {

                if(!this.form.department_id) {
                    this.$set(this.errors, 'department_id', ["El campo Departamento es obligatorio."]);
                }

                if(!this.form.province_id) {
                    this.$set(this.errors, 'province_id', ["El campo Provincia es obligatorio."]);
                }

                if(!this.form.district_id) {
                    this.$set(this.errors, 'district_id', ["El campo Distrito es obligatorio."]);
                }
            }

            if(!this.form.type_insurance_id) {
                this.$set(this.errors, 'type_insurance_id', ["El campo Tipo Seguro es obligatorio."]);
            }

            if(!this.form.type_find_ttl) {
                this.$set(this.errors, 'type_find_ttl', ["Este campo es obligatorio."]);
            }

            if(Object.keys(this.errors).length == 0) {
                this.submit()
            }
        },
        async submit() {
            this.loader = true
            await this.$http.post(`/${this.resource}`, this.form)
                .then(response => {
                    if (response.data.success) {
                        this.$message.success(response.data.message)
                        this.initForm()
                        this.next(2)

                    } else {
                        this.$message.error('Sucedió un error')
                    }
                })
                .catch(error => {
                    console.log(error.response.data)
                    this.$message.error('Sucedió un error')
                })
                .then(() => {
                    this.loader = false
                    location.href = '/hc/persons'
                })
        },
        async filterLocation(type, init = false) {

            const query = queryString.stringify({
                table: type,
                province_id: this.form.province_id,
                department_id: this.form.department_id
            });

            if (type === 'districts') {
                if(!init) this.form.district_id = null;
                const { data } = await this.$http.get(`/${this.resource}/remoteSearch?${query}`)
                this.districts = data.data;
            } else if (type === 'provinces') {
                if(!init) {
                    this.form.province_id = null;
                    this.form.district_id = null;
                }
                const { data } = await this.$http.get(`/${this.resource}/remoteSearch?${query}`)
                this.provinces = data.data;
            }
        },
        async searchPerson() {
            const query = queryString.stringify({
                identity_document_type_id: this.form.identity_document_type_id,
                number: this.form.number,
            });
            const { data } = await this.$http.get(`/${this.resource}/searchPerson?${query}`)

            if(data.data) {
                const person = data.data
                this.form.name = person.name
                this.form.last_name = person.last_name
                this.form.birthdate = person.birthdate
                this.form.telephone = person.telephone
                this.form.gender = person.gender
                this.form.email = person.email
                this.form.id = person.id
            }
        },
        cancelEdit() {
            location.href = '/hc/persons'
        },
        async liveLima() {
            if(this.form.live_lima) {
                this.loader = true
                this.form.department_id = '15'
                await this.filterLocation('provinces')
                this.form.province_id = '1501'
                await this.filterLocation('districts')
                this.loader = false
            }
        }
    }
}
</script>
