<template>
    <div>
        <div class="page-header pr-0">
            <h2><a href="/dashboard"><i class="fas fa-tachometer-alt"></i></a></h2>
            <ol class="breadcrumbs">
                <li class="active"><span>{{ title }}</span></li>
            </ol>
            <div class="right-wrapper pull-right">
            </div>
        </div>
        <div class="card mb-0">
            <div class="card-header bg-info">
                <h3 class="my-0">Listado de {{ title }}</h3>
            </div>
            <div class="data-table-visible-columns">
                <el-dropdown :hide-on-click="false">
                    <el-button type="primary">
                        Mostrar/Ocultar columnas<i class="el-icon-arrow-down el-icon--right"></i>
                    </el-button>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item v-for="(column, index) in column" :key="index">
                            <el-checkbox v-model="column.visible">{{ column.title }}</el-checkbox>
                        </el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </div>
            <div class="card-body">
                <data-table :resource="resource">
                    <tr slot="heading">
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th class="text-right">Número Doc.</th>
                        <th class="text-right">Historia clinica</th>
                        <th v-if="column.email.visible">Email</th>
                        <th v-if="column.telefono.visible">Telefono</th>
                        <th v-if="column.distrito.visible">Distrito</th>
                        <th v-if="column.birthdate.visible">Fecha Nac.</th>
                        <th class="text-right">Acciones</th>
                    <tr>
                    <tr slot-scope="{ index, row }">
                        <td>{{ index }}</td>
                        <td>{{ row.name }}</td>
                        <td>{{ row.last_name }}</td>
                        <td class="text-right">{{ row.number }}</td>
                        <td class="text-right">{{ row.hclinic }}</td>
                        <td v-if="column.email.visible">{{ row.email }}</td>
                        <td v-if="column.telefono.visible">{{ row.telephone }}</td>
                        <td v-if="column.distrito.visible">{{ row.district }}</td>
                        <td v-if="column.birthdate.visible">{{ row.birthdate }}</td>

                        <td class="text-right">
                                <button type="button" class="btn waves-effect waves-light btn-xs btn-info" >H.clinic</button>
                                <button type="button" class="btn waves-effect waves-light btn-xs btn-info" @click.prevent="clickEdit(row.id)" >Editar</button>
                                <button type="button" class="btn waves-effect waves-light btn-xs btn-danger" @click.prevent="clickDelete(row.id)">Eliminar</button>
                                <!--<button type="button" class="btn waves-effect waves-light btn-xs btn-danger" @click.prevent="clickDisable(row.id)" v-if="row.enabled">Inhabilitar</button>
                                <button type="button" class="btn waves-effect waves-light btn-xs btn-primary" @click.prevent="clickEnable(row.id)" v-else>Habilitar</button>-->
                        </td>
                    </tr>
                </data-table>
            </div>
        </div>
    </div>
</template>

<script>

    import DataTable from '../../components/DataTable'
    import {deletable} from '../../mixins/deletable'

    export default {
        mixins: [deletable],
        props: [],
        components: {DataTable},
        data() {
            return {
                title: null,
                showDialog: false,
                showImportDialog: false,
                showExportDialog: false,
                resource: 'persons',
                recordId: null,
                column: {
                    email: {
                        title: 'Email',
                        visible: false
                    },
                    telefono: {
                        title: 'Telefono',
                        visible: false
                    },
                    distrito: {
                        title: 'Distrito',
                        visible: false
                    },
                    birthdate: {
                        title: 'Fecha Nac.',
                        visible: false
                    },
                }
            }
        },
        created() {
            this.title = 'Pacientes'
        },
        methods: {
            clickEdit(recordId) {
                this.recordId = recordId
                this.showDialog = true
                location.href = `/hc/persons/edit/${recordId}`
            },
            clickImport() {
                this.showImportDialog = true
            },
            clickExport() {
                this.showExportDialog = true
            },
            clickDelete(id) {
                this.destroy(`/${this.resource}/${id}`).then(() =>
                    this.$eventHub.$emit('reloadData')
                )
            },
            clickDisable(id){
                this.disable(`/${this.resource}/enabled/${0}/${id}`).then(() =>
                    this.$eventHub.$emit('reloadData')
                )
            },
            clickEnable(id){
                this.enable(`/${this.resource}/enabled/${1}/${id}`).then(() =>
                    this.$eventHub.$emit('reloadData')
                )
            },
        }
    }
</script>
