<template>
  <div class="col-lg-6 col-md-12 0">
    <div class="card">
      <div class="card-header bg-info">
        <h3 class="my-0">Colores</h3>
      </div>
      <div class="card-body">
        <form autocomplete="off" @submit.prevent="submit">
          <div class="form-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group" :class="{'has-danger': errors.color_navbar}">
                  <label class="control-label">
                    Color NavBar
                  </label>
                  <br />
                  <el-color-picker v-model="form.color_navbar"></el-color-picker>
                  <small
                    class="form-control-feedback"
                    v-if="errors.color_navbar"
                    v-text="errors.color_navbar[0]"
                  ></small>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group" :class="{'has-danger': errors.color_footer}">
                  <label class="control-label">
                    Color Footer
                  </label>
                  <br />
                  <el-color-picker v-model="form.color_footer"></el-color-picker>
                  <small
                    class="form-control-feedback"
                    v-if="errors.color_footer"
                    v-text="errors.color_footer[0]"
                  ></small>
                </div>
              </div>

            </div>
          </div>
          <div class="form-actions text-right pt-2">
            <el-button type="primary" native-type="submit" :loading="loading_submit">Guardar</el-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loading_submit: false,
      // headers: headers_token,
      resource: "ecommerce",
      errors: {},
      form: {},
      soap_sends: [],
      soap_types: []
    };
  },
  async created() {
    await this.initForm();

    await this.$http.get(`/${this.resource}/record`).then(response => {
      if (response.data !== "") {
        let data = response.data.data;
        this.form.id = data.id;
        this.form.color_navbar = data.color_navbar;
        this.form.color_footer = data.color_footer;
      }
    });
  },
  methods: {

    initForm() {
      this.errors = {};
      this.form = {
        id: null,
        color_navbar: "",
        color_footer: "",
        color_menu: "",
      };
    },
    submit() {
      this.loading_submit = true;
      this.$http
        .post(`/${this.resource}/configuration_color`, this.form)
        .then(response => {
          if (response.data.success) {
            this.$message.success(response.data.message);
          } else {
            this.$message.error(response.data.message);
          }
        })
        .catch(error => {
          if (error.response.status === 422) {
            this.errors = error.response.data;
          } else {
            console.log(error);
          }
        })
        .then(() => {
          this.loading_submit = false;
        });
    }
  }
};
</script>



